besser-agentic-framework[extras,torch,llms]==3.0.1
streamlit-browser-session-storage==0.0.3
streamlit-local-storage==0.0.25
streamlit-screen-stats==0.0.82
elasticsearch==8.11.0 # CASTOR's Version
ollama==0.5.1
